<BsModal @open={{open}} @onHide={{action (mut open) false}} @onHidden={{action "resetState"}} as |modal|>
  <modal.header>
    <h4 class="modal-title">{{title}}</h4>
  </modal.header>
  {{#with (changeset barcodeData BarcodeDataValidations) as |changeset|}}
    <modal.body>
      {{#if error}}
        <BsAlert @type="danger" @dismissible={{false}}>
          {{error}}
        </BsAlert>
      {{/if}}
      <BsForm @model={{changeset}} @onSubmit={{action "onSubmit" changeset}} @isSubmitting={{isSubmitting}} as |form|>
        <form.element @controlType="text" @label="Streckkod" @property="barcode" as |el|>
          <el.control autofocus="true" placeholder="Scanna streckkod (exempel: 2014052015160216)" />
        </form.element>
        {{yield form}}
      </BsForm>
    </modal.body>
    <modal.footer>
      <BsButton @onClick={{action modal.close}} @type="secondary">Avbryt</BsButton>
      <BsButton @onClick={{action modal.submit}} @type="success" @disabled={{or isSubmitting changeset.isInvalid}}>Skicka</BsButton>
    </modal.footer>
  {{/with}}
</BsModal>
