<div class="row">
  <div class="col-12 d-flex">
    <div class="flex-fill">
      <LinkTo @route="admin.index">
        <i class="fas fa-chevron-left"></i> Tillbaka
      </LinkTo>
    </div>
    <div>
      <a target="_blank" href="{{printOrderUrl}}" class="mr-3"><i class="fas fa-print"></i> Beställning</a>
      <a target="_blank" href="{{printDeliveryNoteUrl}}"><i class="fas fa-print"></i> Bokslip</a>
    </div>
  </div>
  <div class="col-12 col-md-8 order">
    <OrderForm @order={{order}} @orderValidations={{OrderValidations}} @saveOrder={{action "saveOrder"}} @deliverySources={{deliverySources}} @deliveryMethods={{deliveryMethods}} @statuses={{statuses}} @managingGroups={{managingGroups}} @pickupLocations={{pickupLocations}} @orderTypes={{orderTypes}} @customerTypes={{customerTypes}} @showAllValidations={{showAllValidations}} @isEditing={{isEditing}} as |orderForm|>
      <div class="row">
        <div class="col-12 order-header">
          <h2 class="order-header-title">
            {{order.orderNumber}}
            <span class="badge badge-secondary ml-2">{{order.orderPath}}</span>
          </h2>
          <div class="order-header-tools">
            {{#if isEditing}}
              <BsButton @class="btn-sm" @onClick={{action "cancelEditOrder" orderForm.changeset}}>
                Stäng <i class="fas fa-times"></i>
              </BsButton>

              <BsButton @type="primary" @class="btn-sm" @buttonType="submit" @disabled={{orderForm.form.isSubmitting}}>
                Spara <i class="fas fa-check"></i>
                {{#if orderForm.form.isSubmitting}} <i class="fas fa-spinner fa-spin"></i> {{/if}}
              </BsButton>
            {{else}}
              <BsButton @type="primary" @class="btn-sm" @onClick={{action "editOrder" orderForm.changeset}}>
                Redigera <i class="fas fa-pencil-alt fa-xs ml-1"></i>
              </BsButton>
            {{/if}}
          </div>
        </div>
      </div>
    </OrderForm>
  </div>
  <div class="col-12 col-md-4">
    <div class="row messages">
      <div class="col-12">
        <div class="messages-header">
          <h4 class="messages-header-title">Meddelanden &amp; anteckningar</h4>
        </div>
      </div>
        <div class="col-12 messages-tools">
        {{#unless (or isCreatingMessage isCreatingNote)}}
          <BsButton @type="secondary" @onClick={{action "showCreateMessage"}}>
            Nytt meddelande <i class="far fa-envelope"></i>
          </BsButton>
          <BsButton @type="secondary" @onClick={{action "showCreateNote"}}>
            Ny anteckning <i class="far fa-file-alt"></i>
          </BsButton>
        {{/unless}}
        {{#if isCreatingMessage}}
          {{#with (changeset message MessageValidations) as |changeset|}}
            <BsForm @formLayout="vertical" @model={{changeset}} @onSubmit={{action "saveMessage"}} @onInvalid={{action "messageInvalid"}} @showAllValidations={{showAllValidations}} as |form|>
              <div class="d-flex flex-row-reverse">
                <BsButton @type="link" @onClick={{action (mut isCreatingMessage) false}}>
                  <i class="fas fa-times"></i>
                </BsButton>
              </div>
              {{#if messageErrors}}
                {{#each messageErrors as |error|}}
                  <BsAlert @dismissible={{false}} @type="danger">
                    {{error}}
                  </BsAlert>
                {{/each}}
              {{/if}}
              <form.element @controlType="power-select" @options={{messageLanguageOptions}} @value={{find-by "language" messageLanguage messageLanguageOptions}} @onChange={{action (action "onTemplatePropertyChange" changeset "messageLanguage") value="language"}} as |el|>
                <el.control @searchEnabled={{false}} as |option|>
                  {{option.label}}
                </el.control>
              </form.element>

              <form.element @controlType="power-select" @placeholder="Välj standardsvar" @options={{emailTemplateOptions}} @value={{find-by "id" emailTemplateId emailTemplates}} @onChange={{action (action "onTemplatePropertyChange" changeset "emailTemplateId") value="id"}} as |el|>
                <el.control @searchEnabled={{false}} as |emailTemplate|>
                  {{get emailTemplate (get
                      (find-by
                        "language"
                        messageLanguage
                        messageLanguageOptions
                      ) "subjectProperty"
                    )
                  }}
                </el.control>
              </form.element>

              <form.element @property="subject" @placeholder="Ämne" @controlType="text" />

              <form.element @property="message" @placeholder="Meddelande" @rows={{10}} @controlType="textarea" />
              {{!
                FIXME: why no padding, wtf
                "Fix" by adding form-group class
              }}
              <form.element @label="Bifoga bibliografiska uppgifter i svaret" @controlType="checkbox" @class="form-group" @value={{addBiblioInfo}} @onChange={{action "onAddBiblioInfoChange" changeset}} />

              <BsButton @type="secondary" @buttonType="submit" @disabled={{form.isSubmitting}}>
                Skicka
                {{#if form.isSubmitting}} <i class="fas fa-spinner fa-spin"></i> {{/if}}
              </BsButton>
            </BsForm>
          {{/with}}
        {{else if isCreatingNote}}
          {{#with (changeset note NoteValidations) as |changeset|}}
            <BsForm @formLayout="vertical" @model={{changeset}} @onSubmit={{action "saveNote"}} @onInvalid={{action "noteInvalid"}} @showAllValidations={{showAllValidations}} as |form|>
              <div class="d-flex flex-row-reverse">
                <BsButton @type="link" @onClick={{action (mut isCreatingNote) false}}>
                  <i class="fas fa-times"></i>
                </BsButton>
              </div>
              {{#if noteErrors}}
                {{#each noteErrors as |error|}}
                  <BsAlert @dismissible={{false}} @type="danger">
                    {{error}}
                  </BsAlert>
                {{/each}}
              {{/if}}
              <form.element @property="message" @placeholder="Meddelande" @rows={{10}} @controlType="textarea" />
              <BsButton @type="secondary" @buttonType="submit" @disabled={{form.isSubmitting}}>
                Spara
                {{#if form.isSubmitting}} <i class="fas fa-spinner fa-spin"></i> {{/if}}
              </BsButton>
            </BsForm>
          {{/with}}
        {{/if}}
        </div>
        <div class="col-12">
        {{#each notes as |note|}}
          {{!TODO: sorted}}
          <div class="card messages-card">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <h6 class="flex-grow-1 card-title">
                  {{#if (eq (get (find-by "id" note.noteTypeId noteTypes) 'label') "system")}}
                    <i class="fas fa-cog"></i>
                  {{else if (eq (get (find-by "id" note.noteTypeId noteTypes) 'label') "user")}}
                    <i class="far fa-file-alt messages-card-title-icon"></i>
                  {{else if (eq (get (find-by "id" note.noteTypeId noteTypes) 'label') "email")}}
                    <i class="far fa-envelope"></i>
                  {{/if}}
                  {{moment-format note.createdAt "YYYY-MM-DD HH:mm"}} av {{get (find-by "id" note.userId users) "xkonto"}}
                </h6>
                {{#if (eq (get (find-by "id" note.noteTypeId noteTypes) 'label') "user")}}
                <BsButton @title="Ta bort notering." @type="link" @class="font-size-sm" @onClick={{action "deleteNote" note.id}}>
                  <small>
                    <i class="fas fa-trash-alt messages-card-remove-icon"></i>
                  </small>
                </BsButton>
                <BsButton @title="Ändra notering." @type="link" @class="font-size-sm" @onClick={{action "showCreateNote" note}}>
                  <small>
                    <i class="fas fa-edit messages-card-edit-icon"></i>
                  </small>
                </BsButton>
                {{/if}}
                <BsButton @title="Sätter denna notering som sticky. Detta gör att den blir tillgänglig i översiktslistan." @type="link" @class="font-size-sm" @onClick={{action "toggleStickyNote" note.id}}>
                  <small>
                    <i class="fas fa-thumbtack messages-card-sticky-icon {{ if (eq note.id order.stickyNoteId) " active"}}"></i>
                  </small>
                </BsButton>
              </div>
              {{#if note.subject}}
                <div class="messages-card-subject">
                  <strong>Ämne:</strong> {{note.subject}}
                </div>
              {{/if}}
              <p class="card-text">
                {{note.message}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{outlet}}
